# Sports Project - Basket Ball

## Dataset cleaning activity

1) `Team launched` year column had improper representation andit was formatted
2) No categorical column was observed
3) Many empty cells were found and since all of them were numeric `-` is replaced with `0`

## Importing required python libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Exploratory Data Analysis

In [23]:
# Reading data from csv
gameData = pd.read_csv('Basketball.csv')
gameData.head()

,Team,Tournament,Score,PlayedGames,WonGames,DrawnGames,LostGames,BasketScored,BasketGiven,TournamentChampion,Runner-up,TeamLaunch,HighestPositionHeld
0,Team 1,86,4385,2762,1647,552,563,5947,3140,33,23,1929,1
1,Team 2,86,4262,2762,1581,573,608,5900,3114,25,25,1929,1
2,Team 3,80,3442,2614,1241,598,775,4534,3309,10,8,1929,1
3,Team 4,82,3386,2664,1187,616,861,4398,3469,6,6,1931-32,1
4,Team 5,86,3368,2762,1209,633,920,4631,3700,8,7,1929,1

In [24]:
# Shape of the dataset
gameData.shape

(61, 13)

In [25]:
# Info about dataset 
gameData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team                 61 non-null     object
 1   Tournament           61 non-null     int64
 2   Score                61 non-null     int64
 3   PlayedGames          61 non-null     int64
 4   WonGames             61 non-null     int64
 5   DrawnGames           61 non-null     int64
 6   LostGames            61 non-null     int64
 7   BasketScored         61 non-null     int64
 8   BasketGiven          61 non-null     int64
 9   TournamentChampion   61 non-null     int64
 10  Runner-up            61 non-null     int64
 11  TeamLaunch           61 non-null     object
 12  HighestPositionHeld  61 non-null     int64
dtypes: int64(11), object(2)
memory usage: 6.3+ KB

In [26]:
## Datatype of each attribute
gameData.dtypes.to_frame(name= 'Data Type')

                    Data Type
Team                   object
Tournament              int64
Score                   int64
PlayedGames             int64
WonGames                int64
DrawnGames              int64
LostGames               int64
BasketScored            int64
BasketGiven             int64
TournamentChampion      int64
Runner-up               int64
TeamLaunch             object
HighestPositionHeld     int64

In [27]:
gameData.isnull().sum()

Team                   0
Tournament             0
Score                  0
PlayedGames            0
WonGames               0
DrawnGames             0
LostGames              0
BasketScored           0
BasketGiven            0
TournamentChampion     0
Runner-up              0
TeamLaunch             0
HighestPositionHeld    0
dtype: int64