# Sports Project - Basket Ball

## Dataset cleaning activity

1) `Team launched` year column had improper representation andit was formatted
2) No categorical column was observed
3) Many empty cells were found and since all of them were numeric `-` is replaced with `0`

## Importing required python libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Exploratory Data Analysis

In [5]:
# Reading data from csv
gameData = pd.read_csv('Basketball.csv')
gameData.head()

,Team,Tournament,Score,PlayedGames,WonGames,DrawnGames,LostGames,BasketScored,BasketGiven,TournamentChampion,Runner-up,TeamLaunch,HighestPositionHeld
0,Team 1,86,4385,2762,1647,552,563,5947,3140,33,23,1929,1
1,Team 2,86,4262,2762,1581,573,608,5900,3114,25,25,1929,1
2,Team 3,80,3442,2614,1241,598,775,4534,3309,10,8,1929,1
3,Team 4,82,3386,2664,1187,616,861,4398,3469,6,6,1931-32,1
4,Team 5,86,3368,2762,1209,633,920,4631,3700,8,7,1929,1

In [3]:
# Shape of the dataset
gameData.shape

(61, 13)

In [25]:
# Info about dataset 
gameData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team                 61 non-null     object
 1   Tournament           61 non-null     int64
 2   Score                61 non-null     int64
 3   PlayedGames          61 non-null     int64
 4   WonGames             61 non-null     int64
 5   DrawnGames           61 non-null     int64
 6   LostGames            61 non-null     int64
 7   BasketScored         61 non-null     int64
 8   BasketGiven          61 non-null     int64
 9   TournamentChampion   61 non-null     int64
 10  Runner-up            61 non-null     int64
 11  TeamLaunch           61 non-null     object
 12  HighestPositionHeld  61 non-null     int64
dtypes: int64(11), object(2)
memory usage: 6.3+ KB

In [26]:
## Datatype of each attribute
gameData.dtypes.to_frame(name= 'Data Type')

                    Data Type
Team                   object
Tournament              int64
Score                   int64
PlayedGames             int64
WonGames                int64
DrawnGames              int64
LostGames               int64
BasketScored            int64
BasketGiven             int64
TournamentChampion      int64
Runner-up               int64
TeamLaunch             object
HighestPositionHeld     int64

In [27]:
#null check
gameData.isnull().sum()

Team                   0
Tournament             0
Score                  0
PlayedGames            0
WonGames               0
DrawnGames             0
LostGames              0
BasketScored           0
BasketGiven            0
TournamentChampion     0
Runner-up              0
TeamLaunch             0
HighestPositionHeld    0
dtype: int64

In [7]:
gameData.describe()

,Tournament,Score,PlayedGames,WonGames,DrawnGames,LostGames,BasketScored,BasketGiven,TournamentChampion,Runner-up,HighestPositionHeld
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000
mean,24.000000,901.426230,796.819672,303.967213,188.934426,303.754098,1140.344262,1140.229508,1.426230,1.409836,7.081967
std,26.827225,1134.899121,876.282765,406.991030,201.799477,294.708594,1506.740211,1163.710766,5.472535,4.540107,5.276663
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4.000000,96.000000,114.000000,34.000000,24.000000,62.000000,153.000000,221.000000,0.000000,0.000000,3.000000
50%,12.000000,375.000000,423.000000,123.000000,95.000000,197.000000,430.000000,632.000000,0.000000,0.000000,6.000000
75%,38.000000,1351.000000,1318.000000,426.000000,330.000000,563.000000,1642.000000,1951.000000,0.000000,0.000000,10.000000
max,86.000000,4385.000000,2762.000000,1647.000000,633.000000,1070.000000,5947.000000,3889.000000,33.000000,25.000000,20.000000

In [8]:
gameData.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Tournament,61.0,24.000000,26.827225,1.0,4.0,12.0,38.0,86.0
Score,61.0,901.426230,1134.899121,0.0,96.0,375.0,1351.0,4385.0
PlayedGames,61.0,796.819672,876.282765,0.0,114.0,423.0,1318.0,2762.0
WonGames,61.0,303.967213,406.991030,0.0,34.0,123.0,426.0,1647.0
DrawnGames,61.0,188.934426,201.799477,0.0,24.0,95.0,330.0,633.0
LostGames,61.0,303.754098,294.708594,0.0,62.0,197.0,563.0,1070.0
BasketScored,61.0,1140.344262,1506.740211,0.0,153.0,430.0,1642.0,5947.0
BasketGiven,61.0,1140.229508,1163.710766,0.0,221.0,632.0,1951.0,3889.0
TournamentChampion,61.0,1.426230,5.472535,0.0,0.0,0.0,0.0,33.0
Runner-up,61.0,1.409836,4.540107,0.0,0.0,0.0,0.0,25.0
HighestPositionHeld,61.0,7.081967,5.276663,1.0,3.0,6.0,10.0,20.0

In [10]:
#Finding MEAN, MEDIAN and MODE for score
print(gameData['score'].mean())

KeyError: 'score'